# ignore binary copies
tripass
tripass.exe

# macOS specific files
.DS_Store

# Editor configs
.vscode/

# IntelliJ / Webstorm
*.iml
*.ipr
*.iws
.idea/

# key files
[Kk]eys.*
[Kk]ey.*

# ignore any debugging symbols files
*.pdb